body {
    margin: 0;    
}

header {
    background-color: #FFD900;
    padding: 15px 58px;

}

main {
    display: flex;
}

.esquerda {
    width: 40%;
    background-color: #514988;
    text-align: center;
}

h1 {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #F3C61F;
    
}

h3 {
    font-family: 'Verdana';
    font-weight: bold;
    color: #FFFFFF;
}

.esquerda p {
    font-family: 'Verdana';
    
    font-size: 18px;
    color: #FFFFFF;
    padding: 30px;
    padding-left: 62px;
    padding-right: 62px;
    line-height: 28px;
    
}

.direita video {
    
    margin-left: 35px;
    padding-bottom: 10px;
}

.direita #ccxp {
    font-family: 'Verdana';
    font-size: 25px;
    font-weight: 700;
    color: #E33881;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
}


.countDown {
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #514988;
    

}

.countDown p {
    margin: 28px 0 0px 0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
       
}

#corre {
    font-family: 'Verdana';
    font-weight: bold;
    font-size: 18px;
    padding-left: 89px;
    color: #F3C61F;
}

footer img {
    width: 22%;
}

.card {
    width: 55%;
}

.button {
    width: 45%;
    height: 100%;
}

button {
    background: #514988;
    border-radius: 15px;
    width: 70%; 
    height: 90px;
    border: 0;
    color: #FFFFFF;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    cursor: pointer;
}

button:hover {
    background-color: #FFD900;
}